#
array_to_latex/__pycache__
 Untitled*.*

__pycache__/*
.cache/*
*.gz

array_to_latex.egg*
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Examples-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Examples-checkpoint.ipynb
array_to_latex.code-workspace
borg-env
